@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200;300;400;500;600;700&display=swap');
table {
  margin-bottom: 30px;
}

.container {
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.Logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Logo img {
  width: 40%;
}

.Logo p {
  font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3em;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .4rem 0;

}

.title {
  font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    letter-spacing: 0.1rem;
    
    
    background: #8d998d;
    margin-bottom: 20px;

}

.opalas {
  background: #a05e8e;
}

.pedras-naturais {
  background: #fbace5;
  
}

.zirconias {
  background: #327978;
  
}

.sem-pedras {
  background: tomato;

}

.topicos td {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-right: 2px solid #000;
  text-align: center;
  }

.topicos td:first-child, .topicos td:last-child {
  border: none;
}

.tableRow td {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 1rem;
}

.popupOpen img {
  width: 45px;
  height: 45px;
}

.popupOpen {
  width: 45px;
  height: 45px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.containerPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popupClose {
  background: #000;
  opacity: .6;
  width: 100%;
  height: 100%;
  position: absolute;

  cursor: pointer;
}

.popupImg {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;

  width: fit-content;
  height: 40%;
}

@media (max-width: 1024px) {
  .container {
    padding: 5%;
    max-width: none;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 2rem 0;
    width: 478px;
  }
}